*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #2ade2a;
}
h2{
    color: gray;
    margin-bottom: 20px;
    margin-top: 15px;
}

.paragraph {
    font-size: 16;
    text-align: justify;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#author {
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 18px;
    margin-top: 42px;
}

.completepage {
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 20px;
    position: relative;
}

.other-posts {
    float:left;
    width:25%;
    margin-top: 200px;
    padding-left: 30px;
}

.author-post {
    clear: left;
    border-top: 1px solid gray;
    padding-top: 20px;
}
.author-post img{
    border-radius: 50%;
    float: left;
}
.otherblog {
    margin-top: 16px;
    margin-left: 40px;
}
.date{
    position: absolute;
    top:40;
    right:20px;
}
